/* display: flex;
flex-direction: row;
justify-content: space-between; 

font-family: 'Montserrat', sans-serif;

/*
color: #7401F8; /* base */
/*
color: #949494; /* text gray */
/*
color: #FFC404; /* secundario */
/*
color: #FB6A01; /* terciario */
/*
color: #FF2020; /* rojo */
/*
color: #ADF90C; /* verde */
/*
object-fit: cover; /* fill in the space with the image */
/*
  box-shadow: 5px 5px 8px 0px rgba(48, 1, 106, 0.15);
*/

* {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif; /*esta es la tipogrfia de css que corrio el navegador*/
}

p {
  margin-bottom: 5px;
  color: #7401f8; /* base */
}

input {
  margin-bottom: 17px;
  border: 1px solid #7401f8; /* base */
  border-radius: 5px;
  height: 23px;
  color: #949494;
  padding-left: 5px;
}

input:focus-visible {
  margin-bottom: 17px;
  border: 1px solid #949494; /* base */
  border-radius: 5px;
  height: 23px;
  color: #949494;
  outline: #949494;
}
