/* display: flex;
flex-direction: row;
justify-content: space-between; 
font-family: 'Montserrat', sans-serif;
*/

* {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
}

.title {
  font-size: 24px;
  color: #7401f8; /* base */
}

.communityname {
  color: #7401f8; /* base */
  font-size: 18px;
}

.communitybreed {
  color: #fb6a01; /* terciario */
  font-size: 14px;
}

.imgprofcommunity {
  width: 53px;
  height: 53px;
  border-radius: 100%;
  object-fit: cover; /* fill in the space with the image */
  box-shadow: 5px 5px 8px 0px rgba(48, 1, 106, 0.15);
  margin-right: 17px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.betweenleft {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.communitynum {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: #7401f8; /* base */
  color: white;
  width: 29px;
  height: 29px;
}
