/* display: flex;
flex-direction: row;
justify-content: space-between; 

font-family: 'Montserrat', sans-serif;
*/


* {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}

.fullcard{
    display: flex;
    flex-direction: row;    
}
.left{
    width: 213px;    
}

.pairs1{
    display: flex;
    flex-direction: column;
}

.icontext1{
    display: flex;
    flex-direction: row;
}

.icontext2{
    display: flex;
    flex-direction: row;
}

.icontext3{
    display: flex;
    flex-direction: row;
}
.icontext4{
    display: flex;
    flex-direction: row;
}

.icontext5{
    display: flex;
    flex-direction: row;
}