/* display: flex;
flex-direction: row;
justify-content: space-between; 

font-family: 'Montserrat', sans-serif;

/*
color: #7401F8; /* base */
/*
color: #949494; /* text gray */
/*
color: #FFC404; /* secundario */
/*
color: #FB6A01; /* terciario */
/*
color: #FF2020; /* rojo */
/*
color: #ADF90C; /* verde */

* {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
}

button {
  cursor: pointer;
}

h3 {
  color: #7401f8; /* base */
  font-size: 30px;
  margin-bottom: 15px;
}

.infotext {
  color: #949494; /* text gray */
  font-size: 16px;
  margin-left: 5px;
  margin-top: 4px;
}

.info {
  display: flex;
  flex-direction: row;
}

.fullcard {
  display: flex;
  flex-direction: row;
  box-shadow: 5px 5px 8px 0px rgba(48, 1, 106, 0.15);
  width: 626px;
  height: 163px;
  border-radius: 10px;
}

.left {
  width: 213px;
}

.right {
  margin-left: 24px;
  margin-top: 24px;
}

.pairs1 {
  display: flex;
  flex-direction: column;
  margin-right: 17px;
}

.icontext {
  display: flex;
  flex-direction: row;
  margin-bottom: 17px;
}

.buttonsmatch {
  display: flex;
  justify-content: flex-end;
  width: 626px;
  height: 44px;
  margin-top: 27px;
  color: white;
}

.deletebutton {
  width: 44px;
  height: 44px;
  border-radius: 100%;
  background-color: #ff2020; /* rojo */
  border-style: none;
}

.acceptbutton {
  width: 44px;
  height: 44px;
  border-radius: 100%;
  background-color: #adf90c; /* verde */
  border-style: none;
}
