/* display: flex;
flex-direction: row;
justify-content: space-between; 

font-family: 'Montserrat', sans-serif;

/*
color: #7401F8; /* base */
/*
color: #949494; /* text gray */
/*
color: #FFC404; /* secundario */
/*
color: #FB6A01; /* terciario */
/*
color: #FF2020; /* rojo */
/*
color: #ADF90C; /* verde */
/*
object-fit: cover; /* fill in the space with the image */
/*
  box-shadow: 5px 5px 8px 0px rgba(48, 1, 106, 0.15);
*/

* {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
}

button {
  cursor: pointer;
}

h3 {
  color: #7401f8; /* base */
  font-size: 24px;
  margin-bottom: 15px;
}

.infotext {
  color: #949494; /* text gray */
  font-size: 14px;
  margin-left: 5px;
  margin-top: 4px;
}

.info {
  display: flex;
  flex-direction: row;
}

.fullcard {
  display: flex;
  flex-direction: row;
  box-shadow: 5px 5px 8px 0px rgba(48, 1, 106, 0.15);
  width: 100%;
  border-radius: 10px;
  background-color: white;
  margin-bottom: 40px;
}

.left {
  width: 50%;
}

.imgprofmatch {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover; /* fill in the space with the image */
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 34px 24px 24px;
  width: 50%;
}

.pairs1 {
  display: flex;
  flex-direction: column;
  margin-right: 17px;
}

.icontext {
  display: flex;
  flex-direction: row;
  margin-bottom: 17px;
}

.buttonsmatch {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  position: relative;
}

.deletebutton {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 44px;
  height: 44px;
  margin-right: 47px;
  border-radius: 100%;
  background-color: #ff2020; /* rojo */
  border-style: none;
  box-shadow: 5px 5px 8px 0px rgba(48, 1, 106, 0.15);
  transform: translate(30%, -30%);
  top: 80%;
}

.deletebutton:hover {
  display: flex;
  flex-wrap: nowrap;
  width: 38px;
  height: 38px;
}

.acceptbutton {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 44px;
  height: 44px;
  border-radius: 100%;
  background-color: #adf90c; /* verde */
  border-style: none;
  box-shadow: 5px 5px 8px 0px rgba(48, 1, 106, 0.15);
  transform: translate(30%, -30%);
  top: 80%;
}

.acceptbutton:hover {
  width: 38px;
  height: 38px;
}
