/* display: flex;
flex-direction: row;
justify-content: space-between; 
font-family: 'Montserrat', sans-serif;
*/

* {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
}

.imgprofchat {
  width: 53px;
  height: 53px;
  border-radius: 100%;
  object-fit: cover; /* fill in the space with the image */
  box-shadow: 5px 5px 8px 0px rgba(48, 1, 106, 0.15);
}
