/*
color: #7401F8; /* base */
/*
color: #949494; /* text gray */
/*
color: #FFC404; /* secundario */
/*
color: #FB6A01; /* terciario */
/*
color: #FF2020; /* rojo */
/*
color: #ADF90C; /* verde */

* {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif; /*esta es la tipogrfia de css que corrio el navegador*/
}

.myProfiles {
  display: flex;
  flex-direction: column;
  /*background-color: aqua;*/
}

main{
  display: flex;
  padding-top: 70px;
}
