* {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif; /*esta es la tipogrfia de css que corrio el navegador*/
}

.myProfiles {
  display: flex;
  flex-direction: column;
  background-color: aqua;
}
