* {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif; /*esta es la tipogrfia de css que corrio el navegador*/
}

.registertext {
  font-size: 14px;
  color: #949494;
}

.inputadd {
  margin-bottom: 5px;
  color: #7401f8;
}

.registerarticle{
  padding: 80px 20px 0px;
}

.registertitle{
  color: #7401f8;
  font-size: 27px;
}