* {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif; /*esta es la tipogrfia de css que corrio el navegador*/
}

input {
  margin-bottom: 17px;
  border: 1px solid #7401f8; /* base */
  border-radius: 30px;
  height: 23px;
  color: #7401f8;
  padding-left: 12px;
}

input:focus-visible {
  margin-bottom: 17px;
  border: 1px solid #949494; /* base */
  border-radius: 30px;
  height: 23px;
  color: #7401f8;
  outline: #949494;
}

.articlein {
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.registertext {
  font-size: 14px;
  color: #949494;
  margin-top: 5px;
  margin-bottom: 27px;
}

.inputadd {
  margin-bottom: 5px;
  color: #7401f8;
}

.registerarticle {
  padding: 80px 20px 0px;
}

.registertitle {
  color: #7401f8;
  font-size: 27px;
  margin-bottom: 27px;
}
@media screen and (max-width: 699px) {
  .imgbackground2 {
    display: none;
  }
}
.imgbackground2 {
  position: fixed; /*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! make it fill the full width !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
  z-index: 0; /* above all else */
  width: 50%;
  height: 100%;
  object-fit: cover; /* fill in the space with the image */
  top: 40px;
  left: 0px;
  margin-left: 50%;
}
