/*
color: #7401F8; /* base */
/*
color: #949494; /* text gray */
/*
color: #FFC404; /* secundario */
/*
color: #FB6A01; /* terciario */
/*
color: #FF2020; /* rojo */
/*
color: #ADF90C; /* verde */

* {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
  color: white;
}

.navbarfixed {
    position: fixed;/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! make it fill the full width !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
    z-index: 9999; /* above all else */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #7401f8; /* base */
  padding-inline: 26px;
  height: 109px;
}

.logoDogeet {
  padding-top: 14px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 361px;
  height: 53px;
  background-color: #ffc404; /* secundario */
  padding-inline: 53px;
  border-radius: 5px;
}

.iconnav {
  width: 27px;
  height: 27px;
}

.navprofile {
  display: flex;
  align-items: center;
  justify-content:end;
  width: 254px;
}

.iconnavnotif{
    margin-right: 7px;
}

.navimgprofile{
    width: 44px;
    height: 44px;
    border-radius: 100%;
    margin-left: 7px;
}