/*
color: #7401F8; /* base */
/*
color: #949494; /* text gray */
/*
color: #FFC404; /* secundario */
/*
color: #FB6A01; /* terciario */
/*
color: #FF2020; /* rojo */
/*
color: #ADF90C; /* verde */

* {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
  color: white;
}

.navbarfixed {
  position: fixed; /*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! make it fill the full width !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
  z-index: 9999; /* above all else */
  width: 100%;
}

@media screen and (max-width: 1079px) {
 
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #7401f8; /* base */
  padding-inline: 20px;
  height: 50px;
}

.logoDogeet {
  padding-top: 10px;
  height: 30px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60px;
  height: 30px;
  background-color: #ffc404; /* secundario */
  padding-inline: 45px;
  margin-inline: 10px;
  border-radius: 5px;
}

.iconnav {
  width: 20px;
  height: 20px;
}

.navprofile {
  display: flex;
  align-items: center;
  justify-content: end;
}

.iconnavnotif {
  width: 30px;
  height: 30px;
  margin-right: 7px;
}

.navimgprofile {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin-left: 7px;
  object-fit: cover; /* fill in the space with the image */
}
