* {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif; /*esta es la tipogrfia de css que corrio el navegador*/
}

@media screen and (max-width: 699px) {
  .imgbackground {
    display: none;
  }
}

.imgbackground {
  position: fixed; /*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! make it fill the full width !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
  z-index: 0; /* above all else */
  width: 50%;
  height: 100%;
  object-fit: cover; /* fill in the space with the image */
  top: 40px;
  left: 0px;
  margin-left: 50%;
}

.article {
  padding: 80px 20px 0px;
}

.Registertitle2 {
  color: #7401f8;
  font-size: 27px;
  margin-bottom: 27px;
}
